<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>The Alerter</title>
    <meta name="description" content="Obé">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="../styles/styles.css?v=1.0">
    <link rel="stylesheet" href="../styles/bootstrap.min.css?v=1.0">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <script src="../external/jquery-3.1.1.min.js"></script>
    <script src="../external/bootstrap.min.js"></script>
    <script src="../external/jquery.toaster.js"></script>
    <script src="../external/socket.io.js"></script>
    <script src="../external/bluebird.min.js"></script>
    <script src="../external/axios.min.js"></script>
    <script src="../external/underscore-min.js"></script>
    <script src="../external/index.js"></script>
    <script src="../external/backbone-min.js"></script>
    <script src="../external/rivets.bundled.min.js"></script>
    <script src="../external/rivets-backbone.js"></script>
    <script src="../external/Chart.bundle.min.js"></script>
    <script src="https://www.symphony.com/resources/api/v1.0/symphony-api.js"></script>
    <script src="../javascript/data.js"></script>
    <script src="../javascript/commonFunctions.js"></script>
    <script src="../javascript/dashboard.js"></script>
    <script src="../javascript/newCategory.js"></script>

    <div id="dashboardContainer">
        <div class="header-bar row-flex-container">
            <div class="icon-square">The Alerter</div>
            <div class="input-group input-group-search">
                <input type="text" placeholder="Search" class="form-control search-input" rv-value="model:searchString">
                <span class="input-group-btn">
                    <button class="btn btn-info search-button" type="button" rv-on-click="model.search">
                        <img src="../images/magnify.png" height="29px;"></img>
                    </button>
                </span>
            </div>
            <div id="searchclear" rv-on-click="model.clearSearchString">
                <img src="../images/cancel.png" height="24px;">
            </div>
        </div>
        <div id="dashboardPanel" class="row-flex-container" style="padding: 3px;">
            <div id="leftPanel" class="col-flex-container" style="width: 200px;">
                <div id="categoryPanel" class="panel panel-primary" style="flex: 3; min-height: 330px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item active no-underline" rv-on-click="model.filter">
                                <div class="row-flex-container" style="align-items: center;">
                                    <div>All</div>
                                    <img width="20px" height="20px" style="margin-left: auto;" rv-if="model:filterString | eq undefined" src="../images/check.png"></img>
                                </div>
                            </a>
                            <a class="list-group-item no-underline" href="#" style="color: white" rv-each-category="model:labels" rv-categorycolor="category"
                                rv-on-click="model.filter">
                                <div class="row-flex-container" style="align-items: center;">
                                    <div>{category}</div>
                                    <img width="20px" height="20px" style="margin-left: auto;" rv-if="category | eq model:filterString" src="../images/check.png"></img>
                                </div>
                            </a>
                            <a href="#" class="list-group-item no-underline" style="padding: 2px;" data-toggle="modal" data-target="#createNewRuleModal">
                                <div class="add-new-category-link row-flex-container">
                                    <img src="../images/round-add-button.png" height="30px;"></img>
                                    <div class="padded-left" style="line-height: 30px;">Create new rule</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div id="rightPanel" class="col-flex-container" style="flex: 1">
                <div id="chartsPanel" class="row-flex-container">
                    <div id="breakdownPanel" class="panel panel-primary padded-left" style="flex: 1">
                        <div class="panel-heading">
                            <h3 class="panel-title">Breakdown</h3>
                        </div>
                        <div class="panel-body col-flex-container center-items unpadded">
                            <canvas id="categoryChart" class="chart-canvas"></canvas>
                        </div>
                    </div>
                    <div id="statusPanel" class="panel panel-primary padded-left" style="flex: 1">
                        <div class="panel-heading">
                            <h3 class="panel-title">Status</h3>
                        </div>
                        <div class="panel-body col-flex-container center-items unpadded">
                            <canvas id="statusChart" class="chart-canvas"></canvas>
                        </div>
                    </div>
                </div>
                <div id="mainGridDiv" class="row-flex-container">
                    <div id="mainGridPanel" class="panel panel-primary padded-left" style="flex: 1">
                        <div class="panel-heading">
                            <h3 class="panel-title">Alerter Realtime View</h3>
                        </div>
                        <div class="panel-body">
                            <table id="alertsTable" class="table table-hover no-border-collapse scrollable-outer alerts-table">
                                <thead class="alerts-header">
                                    <tr>
                                        <th style="min-width: 120px;">Category</th>
                                        <th style="min-width: 120px;">Status</th>
                                        <th>Message</th>
                                    </tr>
                                </thead>
                                <tbody id="alertsTbody" class="scrollable">
                                    <tr rv-each-alert="model:filteredAlerts" rv-on-click="model.setSelectedAlert" data-toggle="modal" data-target="#alertDetailModal"
                                        class="with-pointer">
                                        <td rv-categorycolor="alert:category" style="white-space: nowrap;" class="rounded-corner-cell">
                                            <div style="min-width: 100px;">{alert:category}</div>
                                        </td>
                                        <td rv-statuscolor="alert:status" class="rounded-corner-cell" style="white-space: nowrap;">
                                            <div style="min-width: 100px;">
                                                <span rv-text="alert:status | status"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <table class="fixed-table">
                                                <tr>
                                                    <td>{alert:message}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for alert detail -->
        <div id="alertDetailModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Message Details</h4>
                    </div>
                    <div class="modal-body">
                        <h4 style="margin-top: -5px;">
                            <span class="label" style="color: white" rv-categorycolor="model:selectedAlert:category">{model:selectedAlert:category}</span>
                            <span rv-statuscolor="model:selectedAlert:status" style="color: white" class="label" rv-text="model:selectedAlert:status | status"></span>
                        </h4>
                        <p><strong>From: </strong>{model:selectedAlert:from}</p>
                        <p><strong>To: </strong>{model:selectedAlert:to}</p>
                        <p><strong>Sent: </strong>{model:selectedAlert:timestamp}</p>
                        <p>{model:selectedAlert:message}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" rv-on-click="model.flagSelectedAlert" rv-disabled="model:selectedAlert:status" class="btn btn-danger">Flag</button>
                        <button type="button" rv-on-click="model.dismissSelectedAlert" rv-disabled="model:selectedAlert:status | negate" class="btn btn-success">Dismiss</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for adding new category -->
    <div id="createNewRuleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Rule</h4>
                </div>
                <div class="modal-body">
                    <form id="newCategoryForm" class="form-horizontal" onsubmit="return validateForm()" method="dialog">
                        <fieldset>
                            <legend>Create a custom rule</legend>
                            <div class="form-group" rv-class-has-error="model:titleHasError">
                                <label for="inputRuleTitle" class="col-lg-2 control-label">Title</label>
                                <div class="col-lg-10">
                                    <input name="title" type="text" class="form-control" id="inputRuleTitle" placeholder="Title" rv-value="model:title" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputRuleDescription" class="col-lg-2 control-label">Description</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputRuleDescription" placeholder="Description" rv-value="model:description">
                                </div>
                            </div>
                            <div class="form-group" rv-class-has-error="model:typeHasError">
                                <label for="typeSelect" class="col-lg-2 control-label">Type</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="typeSelect" rv-value="model:ruleType">
                                        <option disabled selected value>Select a type</option>
                                        <option>Keywords</option>
                                        <option>Machine Learning</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" rv-class-has-error="model:keywordHasError" rv-if="model.isKeyword | call model:ruleType">
                                <label for="keywordTextArea" class="col-lg-2 control-label">Keywords</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" rows="3" id="keywordTextArea" rv-value="model:keywordList" style="resize: vertical;"></textarea>
                                    <span class="help-block">Enter each keyword in a new line or separate them by commas or semicolons</span>
                                </div>
                            </div>
                            <div class="form-group" rv-class-has-error="model:mlHasError" rv-if="model.isMl | call model:ruleType">
                                <label for="exampleFileInput" class="col-lg-2 control-label">Examples</label>
                                <div class="col-lg-10 input-group" style="padding: 0px 14px;">
                                    <input class="form-control" type="text" readonly="readonly" rv-value="model:mlFile" id="exampleFileInput" placeholder="Select example text file">
                                    <span class="input-group-btn">
                                        <div class="fileUpload btn btn-info">
                                            <span>Upload</span>
                                            <input id="fileInputHidden" type="file" class="upload" onchange="onFileChanged();" />
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="modal-footer form-group">
                                <input type="submit" value="Create" class="btn btn-success">
                                <button type="reset" onclick="resetNewCategoryViewModel();" class="btn btn-primary">Cancel</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
